<!doctype html>
<html lang="en">
	<% include partials/head.ejs %>
  <body>
	
	<% include partials/navbar.ejs %>

	<div id="hero-image-single" style="background-image: url('/images/<%= movie.hero_image%>')">
		<h1 id='hero-title'><%= title %> </h1>
	</div> 

	<div class="content-padding clearfix">
		<div class="poster-wrapper">
			<img src="/images/<%=movie.poster%>" class="img-responsive">
		</div>

		<div class="description-wrapper">
			<div class="description">
				<h3 class="movie-header">Description</h3>
				<p><%=movie.description%></p>
			</div>

			<div class="main-characters">
				<h2 class="movie-header">
					<ul>
						<% for(var i=0;i<movies.length;i++) { %>
						<li><%= characters[i] %></li>
						<% } %>
					</ul>
				</h2>
			</div>
		</div>
	</div>
  
   <% include partials/scripts.ejs %>
  </body>
</html>